## Library Imports

All required libraries are imported below.

In [ ]:
# Import necessary libraries
#libraries to work with
import pandas as pd        #we use pandas to read our data 
import numpy as np         #we use  numpy to work with mathematical expressions

In [179]:
# Load and explore the dataset
df=pd.read_csv("C:\\Users\\sb193\\OneDrive\\Documents\\Pandas.csv")

In [ ]:
# It gives us first five rows of the dataset. 
df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [ ]:
#It gives last five rows of the dataset. 
df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [182]:
# To find rows and columns
df.shape

(500, 13)

In [183]:
# For the information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

In [ ]:

sub_df= df[["Rank","Title","Employees","Sector","Revenues","Profits"]]

In [185]:
sub_df.head(3)    #this will show only 3 rows

   Rank               Title  Employees      Sector  Revenues  Profits
0     1             Walmart    2300000   Retailing    485873  13643.0
1     2  Berkshire Hathaway     367700  Financials    223604  24074.0
2     3               Apple     116000  Technology    215639  45687.0

In [186]:
sub_df.describe()        #this will describe our data its count,mean,std,min,max etc.

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [187]:
mean_revenue= sub_df["Revenues"].mean()           #to find mean of any column
mean_revenue

24111.748

In [188]:
mode_revenue= sub_df["Revenues"].mode()           #to find mode of any column
mode_revenue

0    9061
Name: Revenues, dtype: int64

In [189]:
median_revenue= sub_df["Revenues"].median()       #to find median of any column
median_revenue

11384.0

In [190]:
C_revenue= sub_df["Revenues"].min()              #to find min value in the column
C_revenue

5145

In [191]:
W_revenue= sub_df["Revenues"].max()               #to find the max value in the column
W_revenue

485873

In [192]:
range= W_revenue-C_revenue                      #Find range while subtracting max by min value
range

480728

In [193]:
range=sub_df["Revenues"].max()-sub_df["Revenues"].min()
range

480728

In [194]:
st=sub_df["Revenues"].std()               #find standard deviation of any column
st

38337.35333653324

In [195]:
sd=sub_df["Revenues"].var()           #to find the variance of column
sd

1469752660.8501961

#IQR

In [197]:
#Its like quartile but in python we call it quantile
#p75=Q3 and P25=Q1
q1 = sub_df["Revenues"].quantile(0.25)
q1

7245.0

In [198]:
q3 = sub_df["Revenues"].quantile(0.75)
q3

22605.25

In [199]:
iqr= q3-q1
iqr

15360.25

In [200]:
iqr2= sub_df["Revenues"].quantile(0.75)-sub_df["Revenues"].quantile(0.25)                    #Its the iqr
iqr2

15360.25

In [201]:
skew= sub_df["Revenues"].skew()        #to find skewness
skew

5.480066970305041

In [202]:
cv= (sub_df["Revenues"].std()/sub_df["Revenues"].mean()) *100           #to find cv
cv

158.99864803055027

In [203]:
cv2= (sub_df["Profits"].std()/sub_df["Profits"].mean()) *100
cv2

221.2758313353473

In [204]:
sub_df.sample(frac =0.0020)            #sample means any randome data from the dataset to use instead of using whole data

     Rank   Title  Employees       Sector  Revenues  Profits
163   164  Paccar      23000  Industrials     17033    521.7

In [205]:
df_sample=sub_df.sample(frac =0.70, random_state =0)
mean_2= df_sample["Revenues"].mean()
print(mean_2)

24044.977142857144

In [206]:
Que1= """Select 70 % random rows from the dataset and condider this as a sample. calculate mean 
of this sample with respect to profit column. repeat the process 5 times
# Comute the difference between actual mean and each of the sample mean seperately,tabulate your observations."""

In [207]:
 sub_df.sample(frac =0.070)

,Rank,Title,Employees,Sector,Revenues,Profits
394,395,A-Mark Precious Metals,83,Materials,6784,9.3
375,376,Kindred Healthcare,76650,Health Care,7227,-664.2
332,333,Crown Holdings,23992,Materials,8284,496.0
125,126,Aflac,10212,Financials,22559,2659.0
198,199,CDW,8516,Technology,13982,424.4
216,217,Western Digital,72878,Technology,12994,242.0
412,413,Berry Global Group,21000,Materials,6489,236.0
293,294,Air Products & Chemicals,18450,Chemicals,9524,631.1
480,481,Booz Allen Hamilton Holding,22600,Technology,5406,294.1
274,275,Praxair,26498,Chemicals,10534,1500.0
463,464,First American Financial,19531,Financials,5576,343.0
102,103,World Fuel Services,5000,Energy,27016,126.5
437,438,Alaska Air Group,19112,Transportation,5931,814.0
85,86,American Express,56400,Financials,33823,5408.0
33,34,Phillips 66,14800,Energy,72396,1555.0
304,305,BorgWarner,27000,Motor Vehicles & Parts,9071,118.5
416,417,Dillardâ€™s,30800,Retailing,6418,169.2
409,410,Asbury Automotive Group,7900,Retailing,6528,167.2
355,356,EOG Resources,2650,Energy,7651,-1096.7
276,277,Discover Financial Services,15549,Financials,10497,2393.0
159,160,CenturyLink,40000,Telecommunications,17470,626.0
311,312,Oneok,2384,Energy,8921,352.0
403,403,JetBlue Airways,15986,Transportation,6632,759.0
164,165,General Mills,39000,"Food, Beverages & Tobacco",16563,1697.4
112,113,DuPont,46000,Chemicals,24594,2513.0
278,279,United States Steel,29800,Materials,10261,-440.0
340,341,Weyerhaeuser,10400,Materials,7902,1027.0
110,111,AbbVie,30000,Health Care,25638,5953.0
454,455,M&T Bank Corp.,16487,Financials,5722,1315.1
281,282,W.W. Grainger,25000,Wholesalers,10137,605.9
218,219,Ross Stores,78600,Retailing,12867,1117.7
121,122,Enterprise Products Partners,6800,Energy,23022,2513.1
272,273,L3 Technologies,38000,Aerospace & Defense,10597,710.0
4,5,McKesson,68000,Wholesalers,192487,2258.0
49,50,United Technologies,201600,Aerospace & Defense,57244,5055.0

In [208]:
mean_profit= sub_df["Profits"].mean()
mean_profit

1779.4797999999998

In [209]:
sam1=  sub_df.sample(frac =0.070)
mean_pro2= sam1["Profits"].mean()
print(mean_pro2)

1340.3828571428571

In [210]:
 df_sam3= sub_df.sample(frac =0.070)
 mean_pro3= df_sam3["Profits"].mean()
 print(mean_pro3)

1623.5200000000002

In [211]:
 df_sam4= sub_df.sample(frac =0.070)
 mean_pro4= df_sam4["Profits"].mean()
 print(mean_pro4)

1888.0742857142855

In [212]:
 df_sam5= sub_df.sample(frac =0.070)
 mean_pro5= df_sam5["Profits"].mean()
 print(mean_pro5)

3094.822857142857

In [213]:
 df_sam6= sub_df.sample(frac =0.070)
 mean_pro6= df_sam6["Profits"].mean()
 print(mean_pro6)

1661.7828571428574

In [214]:
diff_1 =(mean_profit - mean_pro2)
print(diff_1)

439.0969428571427

In [215]:
diff_2 =(mean_profit - mean_pro3)
print(diff_2)

155.95979999999963

In [216]:
diff_3 =(mean_profit - mean_pro4)
print(diff_3)

-108.59448571428561

In [217]:
diff_4 =(mean_profit - mean_pro5)
print(diff_4)

-1315.3430571428573

In [218]:
diff_5 =(mean_profit - mean_pro6)
print(diff_5)

117.6969428571424

In [219]:
#Outliers

In [220]:
iqr_new= sub_df["Revenues"].quantile(0.75)-sub_df["Revenues"].quantile(0.25)
iqr_new

15360.25

In [221]:
upper_limit= sub_df["Revenues"].quantile(0.75)+1.5*iqr_new
upper_limit

45645.625

In [222]:
lower_limit=sub_df["Revenues"].quantile(0.25)-1.5*iqr_new
lower_limit

-15795.375

In [223]:
### outliers are those values which reside outside of the lower and upper limits boundries
outliers = sub_df[(sub_df['Revenues']>upper_limit) |
                  (sub_df['Revenues']<lower_limit)]
print("Outliers Rows")
print(outliers)

Outliers Rows
    Rank                       Title  Employees          Sector  Revenues  \
0      1                     Walmart    2300000       Retailing    485873
1      2          Berkshire Hathaway     367700      Financials    223604
2      3                       Apple     116000      Technology    215639
3      4                 Exxon Mobil      72700          Energy    205004
4      5                    McKesson      68000     Wholesalers    192487
..   ...                         ...        ...             ...       ...
57    58                       FedEx     335767  Transportation     50365
58    59  Hewlett Packard Enterprise     195000      Technology     50123
59    60               Cisco Systems      73700      Technology     49247
60    61                          HP      49000      Technology     48238
61    62                Dow Chemical      56000       Chemicals     48158

    Profits
0   13643.0
1   24074.0
2   45687.0
3    7840.0
4    2258.0
..      ...
57   1820.0
58   3161.0
59  10739.0
60   2496.0
61   4318.0

[62 rows x 6 columns]

In [224]:
iqr_new2= sub_df["Profits"].quantile(0.75)-sub_df["Profits"].quantile(0.25)
iqr_new2

1535.0500000000002

In [225]:
upper_limit2= sub_df["Profits"].quantile(0.75)+1.5*iqr_new2
upper_limit2

4073.3500000000004

In [226]:
lower_limit2=sub_df["Profits"].quantile(0.25)-1.5*iqr_new2
lower_limit2

-2066.8500000000004

In [227]:
outliers2 = sub_df[(sub_df['Profits']>upper_limit2) |
                  (sub_df['Profits']<lower_limit2)]
print("Outliers Rows")
print(outliers2)

Outliers Rows
     Rank                   Title  Employees       Sector  Revenues  Profits
0       1                 Walmart    2300000    Retailing    485873  13643.0
1       2      Berkshire Hathaway     367700   Financials    223604  24074.0
2       3                   Apple     116000   Technology    215639  45687.0
3       4             Exxon Mobil      72700       Energy    205004   7840.0
5       6      UnitedHealth Group     230000  Health Care    184840   7017.0
..    ...                     ...        ...          ...       ...      ...
284   285            Baker Hughes      33000       Energy      9841  -2738.0
309   310                    eBay      12600   Technology      8979   7266.0
342   343       Chesapeake Energy       3300       Energy      7872  -4401.0
343   344      Anadarko Petroleum       4500       Energy      7869  -3071.0
374   375  National Oilwell Varco      36384       Energy      7251  -2412.0

[68 rows x 6 columns]

# **Karl pearson(r)&Spearman(R)**

In [229]:
data={
    "height":[150,160,165,170,175,180,185],
    "weight":[50,55,60,65,70,75,80]
}
df=pd.DataFrame(data)

In [230]:
df.head()

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70

In [231]:
correlation=df["height"].corr(df["weight"])
print(correlation)                                        #IN CORRELATION IT BY DEFAULT TAKE KALESPEARSON METHOD

0.9922858194799439

In [232]:
correlation=df["height"].corr(df["weight"],method="spearman")
print(correlation)         #for using spearman function we have to write method=spearman so the system will get that we want to use spearman formula

1.0

Find spearman(R)data

In [234]:
df["rank1"]= df["height"].rank()
df["rank2"]= df["weight"].rank()
df.head()

   height  weight  rank1  rank2
0     150      50    1.0    1.0
1     160      55    2.0    2.0
2     165      60    3.0    3.0
3     170      65    4.0    4.0
4     175      70    5.0    5.0

In [235]:
df["D"]=df["rank1"]-df["rank2"]

In [236]:
df["D2"]=df["D"]**2
df.head()

   height  weight  rank1  rank2    D   D2
0     150      50    1.0    1.0  0.0  0.0
1     160      55    2.0    2.0  0.0  0.0
2     165      60    3.0    3.0  0.0  0.0
3     170      65    4.0    4.0  0.0  0.0
4     175      70    5.0    5.0  0.0  0.0

In [237]:
sum_d2=df["D2"].sum()
sum_d2

0.0

In [238]:
n=len(df)
n

7

In [239]:
R=1-((6*sum_d2)/((n**3)-n))
R

1.0

Find Karl pearson of data

In [241]:
data={
    "Height":[150,160,165,170,175,180,185,190],
    "Weight":[50,55,60,65,70,75,80,85]
}
df=pd.DataFrame(data)

In [242]:
mean_height=df["Height"].sum()
mean_height

1375

In [243]:
mean_weight=df["Weight"].sum()
mean_weight

540

In [244]:
df["x-xmean"]=(df["Height"]-mean_height)
df["x-xmean"]

0   -1225
1   -1215
2   -1210
3   -1205
4   -1200
5   -1195
6   -1190
7   -1185
Name: x-xmean, dtype: int64

In [245]:
df["y-ymean"]=(df["Weight"]-mean_weight)
df["y-ymean"]

0   -490
1   -485
2   -480
3   -475
4   -470
5   -465
6   -460
7   -455
Name: y-ymean, dtype: int64

In [246]:
df["xy"]=df["x-xmean"]*df["y-ymean"]
df["xy"]

0    600250
1    589275
2    580800
3    572375
4    564000
5    555675
6    547400
7    539175
Name: xy, dtype: int64

In [247]:
df["x2"]=df["x-xmean"]**2
df["x2"]

0    1500625
1    1476225
2    1464100
3    1452025
4    1440000
5    1428025
6    1416100
7    1404225
Name: x2, dtype: int64

In [248]:
df["y2"]=df["y-ymean"]**2
df["y2"]

0    240100
1    235225
2    230400
3    225625
4    220900
5    216225
6    211600
7    207025
Name: y2, dtype: int64

In [249]:
sum_x2=df["x2"].sum()
sum_x2

11581325

In [250]:
sum_y2=df["y2"].sum()
sum_y2

1787100

In [251]:
sum_xy=df["xy"].sum()
sum_xy

4548950

In [252]:
r=sum_xy/sum_x2*sum_y2
r

701942.8731168498

In [253]:
r_sqrt=r**(1/2)
r_sqrt

837.8203107569366

#**LIBRARIES TO WORK WITH**

In [44]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [45]:
# Load and explore the dataset
df=pd.read_csv('Fortune500.csv')
#data

#FIRST FIVE ROWS

#FOR LAST FIVE ROWS

In [47]:
df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

#TO CHECK HOW MANY ROWS & COLUMNS

In [48]:
df.shape

(500, 13)

#TO CHECK THE INORMATION ABOUT COLUMNS

In [49]:
#very imp before working with data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

#TO CREATE NEW DATA USING EXISTING DATA

In [50]:
sub_df= df[['Rank','Title','Employees','Sector','Revenues','Profits']]

In [51]:
#for ten rows
sub_df.head(10)

,Rank,Title,Employees,Sector,Revenues,Profits
0,1,Walmart,2300000,Retailing,485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,223604,24074.0
2,3,Apple,116000,Technology,215639,45687.0
3,4,Exxon Mobil,72700,Energy,205004,7840.0
4,5,McKesson,68000,Wholesalers,192487,2258.0
5,6,UnitedHealth Group,230000,Health Care,184840,7017.0
6,7,CVS Health,204000,Health Care,177526,5317.0
7,8,General Motors,225000,Motor Vehicles & Parts,166380,9427.0
8,9,AT&T,268540,Telecommunications,163786,12976.0
9,10,Ford Motor,201000,Motor Vehicles & Parts,151800,4596.0

In [52]:
sub_df.tail(10)

,Rank,Title,Employees,Sector,Revenues,Profits
490,491,Liberty Media,3626,Media,5276,680.0
491,492,Rockwell Collins,19000,Aerospace & Defense,5259,728.0
492,493,Robert Half International,16400,Business Services,5250,343.4
493,494,CH2M Hill,20000,Engineering & Construction,5236,15.0
494,495,Big Lots,23150,Retailing,5200,152.8
495,496,Michaels Cos.,31000,Retailing,5197,378.2
496,497,Toll Brothers,4200,Engineering & Construction,5170,382.1
497,498,Yahoo,8500,Technology,5169,-214.3
498,499,Vistra Energy,4431,Energy,5164,-214.3
499,500,ABM Industries,110000,Business Services,5145,57.2

In [53]:
sub_df.shape

(500, 6)

#TO CHECK THE STATISTICAL VALUES

In [54]:
sub_df.describe()

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [55]:
#to check the statistical value of single cloumn
mean_rev = sub_df['Revenues'].mean()
print(mean_rev)
median_rev = sub_df['Revenues'].median()
print(median_rev)
mode_rev = sub_df['Revenues'].mode()
print(mode_rev)

24111.748
11384.0
0    9061
Name: Revenues, dtype: int64

In [56]:
# " min & max "
min_rev = sub_df['Revenues'].min()
print(min_rev)
max_rev = sub_df['Revenues'].max()
print(max_rev)

5145
485873

In [57]:
### **RANGE**
range= max_rev-min_rev
print(range)

480728

In [58]:
# to find standard deviation
sd= sub_df['Revenues'].std()
print(sd)

38337.35333653324

In [59]:
# to find varience
var= sub_df['Revenues'].var()
print(var)

1469752660.8501961

In [60]:
#QUANTILE TO FIND
# Percentile OR Qurtile OR Decile
### P25 == Q1 AND P75 == Q3

q1= sub_df['Revenues'].quantile(0.25)
print(q1)
q2= sub_df['Revenues'].quantile(0.50)
print(q2)
q3= sub_df['Revenues'].quantile(0.75)
print(q3)

7245.0
11384.0
22605.25

In [61]:
# IQR = Q3 - Q1
iqr= q3-q1
print(iqr)
iqr2= sub_df['Revenues'].quantile(0.75)-sub_df['Revenues'].quantile(0.25)
print(iqr2)

15360.25
15360.25

In [62]:
###

skew = sub_df['Revenues'].skew()
print(skew)

5.480066970305041

In [63]:
### calculate cv for revenue
# CV = (sd/mean)*100

cv= (sd/mean_rev)*100
print(cv)
cv2= sub_df['Revenues'].std()/sub_df['Revenues'].mean()*100
print(cv2)

158.99864803055027
158.99864803055027

In [64]:
cv3= sub_df['Profits'].std()/sub_df['Profits'].mean()*100
print(cv3)

221.2758313353473

In [65]:
### FOR RANDOM SELECTING THE DATA

sub_df.sample(5)

     Rank                     Title  Employees      Sector  Revenues  Profits
153   154  Thermo Fisher Scientific      54800  Technology     18274   2021.8
346   347            Steel Dynamics       7695   Materials      7777    382.1
195   196               FirstEnergy      15707      Energy     14156  -6177.0
475   476      Cincinnati Financial       4754  Financials      5449    590.7
88     89                    Exelon      34396      Energy     31360   1134.0

In [66]:
## used to get the amount of data in percentage
sub_df.sample(frac=0.01)

     Rank             Title  Employees       Sector  Revenues  Profits
12     13  General Electric     295000  Industrials    126661   8831.0
242   243      Henry Schein      21000  Wholesalers     11572    506.8
380   381   Leidos Holdings      32000   Technology      7043    244.0
116   117            Tesoro       6308       Energy     24005    734.0
360   361          Assurant      14700   Financials      7532    565.4

In [67]:
df_sample= sub_df.sample(frac=0.70)
mean2= df_sample['Revenues'].mean()
print(mean2)

23632.265714285713

In [68]:
### fixing variables in sample functions
df_sample1= sub_df.sample(frac=0.70, random_state=1)
mean3= df_sample1['Revenues'].mean()
print(mean2)

23632.265714285713

In [69]:
df_sample2= sub_df.sample(frac=0.70, random_state=2)
mean4= df_sample2['Revenues'].mean()
print(mean4)

23645.334285714285

In [70]:
df_sample2= sub_df.sample(frac=0.70, random_state=2)
mean5= df_sample2['Revenues'].mean()
print(mean5)

23645.334285714285

In [71]:
"""Select 70 % random rows from the dataset and condider this as a sample. calculate mean of this sample with respect to profit column. repeat the process 5 times
   Comute the difference between actual mean and each of the sample mean seperately,tabulate your observations."""


sub_df.sample(frac =0.070)

,Rank,Title,Employees,Sector,Revenues,Profits
129,130,Community Health Systems,108000,Health Care,21374,-1721.0
260,261,Group 1 Automotive,13500,Retailing,10888,147.1
246,247,Core-Mark Holding,7688,Wholesalers,11507,54.2
467,468,NetApp,12030,Technology,5546,229.0
348,349,Western Refining,7134,Energy,7743,124.9
83,84,Allstate,43275,Financials,36534,1877.0
258,259,Jacobs Engineering Group,49350,Engineering & Construction,10964,210.5
479,480,Delek US Holdings,1326,Energy,5414,-153.7
200,201,Waste Management,41200,Business Services,13609,1182.0
115,116,Raytheon,63000,Aerospace & Defense,24069,2211.0
26,27,Alphabet,72053,Technology,90272,19478.0
53,54,Pfizer,96500,Health Care,52824,7215.0
37,38,Target,323000,Retailing,69495,2737.0
307,306,Public Service Enterprise Group,13065,Energy,9061,887.0
11,12,Amazon.com,341400,Technology,135987,2371.0
102,103,World Fuel Services,5000,Energy,27016,126.5
277,278,Occidental Petroleum,11000,Energy,10398,-574.0
387,388,R.R. Donnelley & Sons,44360,Media,6896,-495.9
427,428,Alleghany,3420,Financials,6131,456.9
241,242,First Data,24000,Business Services,11584,420.0
125,126,Aflac,10212,Financials,22559,2659.0
452,453,Clorox,8000,Household Products,5761,648.0
375,376,Kindred Healthcare,76650,Health Care,7227,-664.2
364,365,PPL,12689,Energy,7517,1902.0
371,372,Masco,26000,Household Products,7357,491.0
235,236,Sherwin-Williams,42550,Chemicals,11856,1132.7
351,352,Zimmer Biomet Holdings,18500,Health Care,7684,305.9
253,254,Celgene,7132,Health Care,11229,1999.2
368,369,Hershey,17140,"Food, Beverages & Tobacco",7440,720.0
19,20,Fannie Mae,7000,Financials,107162,12313.0
60,61,HP,49000,Technology,48238,2496.0
274,275,Praxair,26498,Chemicals,10534,1500.0
282,283,Autoliv,65900,Motor Vehicles & Parts,10074,567.1
377,378,Alliance Data Systems,17000,Business Services,7138,515.8
98,99,Travelers Cos.,30900,Financials,27625,3014.0

In [73]:
sam1=  sub_df.sample(frac =0.70)
mean_pro2= sam1["Profits"].mean()
print(mean_pro2)

1927.3748571428573

In [74]:
df_sam3= sub_df.sample(frac =0.70,)
mean_pro3= df_sam3["Profits"].mean()
print(mean_pro3)

1950.4405714285713

In [75]:
df_sam4= sub_df.sample(frac =0.070)
mean_pro4= df_sam4["Profits"].mean()
print(mean_pro4)

1584.4942857142855

In [76]:
df_sam5= sub_df.sample(frac =0.070)
mean_pro5= df_sam5["Profits"].mean()
print(mean_pro5)

1469.0457142857142

In [77]:
df_sam6= sub_df.sample(frac =0.070)
mean_pro6= df_sam6["Profits"].mean()
print(mean_pro6)

1641.1399999999999

In [82]:
### lower and upper limit
#lower limit = q1 - 1.5(iqr)
#upper limit = q3 + 1.5(iqr)

In [83]:
upper_limit = q3 + 1.5*iqr
print(upper_limit)
lower_limit = q1 - 1.5*iqr
print(lower_limit)

45645.625
-15795.375

#***OUTLIERS***

In [85]:
iqr_profit = sub_df['Profits'].quantile(0.75)-sub_df['Profits'].quantile(0.25)
print(iqr_profit)

1535.0500000000002

In [86]:
upper_limit_profit = sub_df['Profits'].quantile(0.75)+1.5*iqr_profit
print(upper_limit_profit)

4073.3500000000004

In [87]:
outliers_profits = sub_df[((sub_df['Profits'])>(sub_df['Profits'].quantile(0.75))+((sub_df['Profits'].quantile(0.75))-(sub_df['Profits'].quantile(0.25))))|
                 ((sub_df['Profits'])<(sub_df['Profits'].quantile(0.25))-1.5*(sub_df['Profits'].quantile(0.75))-(sub_df['Profits'].quantile(0.25)))]
print("Outliers Rows")
print(outliers_profits)

Outliers Rows
     Rank               Title  Employees       Sector  Revenues  Profits
0       1             Walmart    2300000    Retailing    485873  13643.0
1       2  Berkshire Hathaway     367700   Financials    223604  24074.0
2       3               Apple     116000   Technology    215639  45687.0
3       4         Exxon Mobil      72700       Energy    205004   7840.0
5       6  UnitedHealth Group     230000  Health Care    184840   7017.0
..    ...                 ...        ...          ...       ...      ...
284   285        Baker Hughes      33000       Energy      9841  -2738.0
297   298             Corning      40700  Industrials      9390   3695.0
309   310                eBay      12600   Technology      8979   7266.0
342   343   Chesapeake Energy       3300       Energy      7872  -4401.0
343   344  Anadarko Petroleum       4500       Energy      7869  -3071.0

[80 rows x 6 columns]